body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	color:#FFFFFF;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1280px;
	height:720px;
	background-image: url('../img/splatoon_scoreboard.png');
}

#no-board {
	position:absolute;
	top:0px;
	left:0px;
	width:1280px;
	height:720px;
}

@font-face {
	font-family: 'Round';
	src: url('../fonts/cprevenge_tte/CP_Revenge.ttf');
}

#round {
	position:absolute;
	left: 362px;
	top: 5px;
	width: 551px;
	height: 38px;
	line-height: 38px;
	font-family: 'Round';
	font-size: 28px;
	text-align: center;
	text-shadow: -1px -1px 0px #00224e;
	letter-spacing: 0.05em;
}

@font-face {
	font-family: 'MPlus';
	src: url('../fonts/mplus-TESTFLIGHT-063/mplus-1c-bold.ttf');
}

.score {
	position:absolute;
	top: 638px;
	width: 73px;
	height: 73px;
	line-height: 73px;
	font-family: 'MPlus';
	font-size: 75px;
	text-align: center;
	text-shadow:
		0px 4px 2px #00224e,
		1px 0px 2px #00224e,
		-1px 0px 2px #00224e;
	letter-spacing: 0.05em;
}

#team1_score {
	left: 13px;
}

#team2_score {
	left: 1197px;
}

.team-name {
	position:absolute;
	top: 5px;
	width: 551px;
	height: 38px;
	line-height: 38px;
	font-family: 'MPlus';
	font-size: 28px;
	text-shadow: 
		1px  1px 4px #000931,
		1px -1px 4px #000931,
		-1px  1px 4px #000931,
		-1px -1px 4px #000931;
	letter-spacing: 0.05em;
}

.orange-color {
	color: #ffdfb8;
}

.blue-color {
	color: #efeaff;
}

#team1_name {
	left: 14px;
	text-align: start;
	text-shadow: 1px -4px 4px #011f5f;
}

#team2_name {
	left: 718px;
	text-align: end;
	text-shadow: 1px -4px 4px #011f5f;
}

.orange-player-name {
	position:absolute;
	width: 205px;
	height: 57px;
	line-height: 28px;
	font-family: 'MPlus';
	font-size: 24px;
	text-align: center;
	text-shadow: 
		 1px  1px 4px #311d00,
		 1px -1px 4px #311d00,
		-1px  1px 4px #311d00,
		-1px -1px 4px #311d00;
	letter-spacing: 0.05em;
}

#player_one {
	left: 166px;
	top: 657px;
}

#player_two {
	left: 372px;
	top: 657px;
}

#player_three {
	left: 166px;
	top: 686px;
}

#player_four {
	left: 372px;
	top: 686px;
}

.blue-player-name {
	position:absolute;
	width: 205px;
	height: 57px;
	line-height: 28px;
	font-family: 'MPlus';
	font-size: 24px;
	text-align: center;
	text-shadow: 
		 1px  1px 4px #000931,
		 1px -1px 4px #000931,
		-1px  1px 4px #000931,
		-1px -1px 4px #000931;
	letter-spacing: 0.05em;
}

#player_five {
	left: 746px;
	top: 657px;
}

#player_six {
	left: 952px;
	top: 657px;
}

#player_seven {
	left: 746px;
	top: 686px;
}

#player_eight {
	left: 952px;
	top: 686px;
}